:root {
    --sl-color-bg: #f4f4f4;
    --sl-color-bg-nav: #f4f4f4;
    --sl-color-bg-sidebar: #f4f4f4;

    --sl-color-text-accent: #e13835;
    --sl-color-banner-text: #ffffff;

    --sl-icon-size: 1em;
    --sl-font-sans: "Trebuchet MS", Verdana, Arial, sans-serif;
    --sl-font-mono: 'Spline Sans Mono', monospace;
    --sl-font-size-base: 16px;
    --sl-color-text: #333333;
    --sl-color-orange-low: #FFF5AD;
    color: #333;
    font-weight: 300
}

.sl-flex.actions {
      margin-bottom: 1em;
}

:root[data-theme=dark] {
    --sl-color-bg: black;
    --sl-color-bg-nav: black;
    --sl-color-sidebar: black;

    --sl-color-text: #f4f4f4;

    --sl-color-accent: var(--sl-color-text-accent);
}

:root[data-theme=dark] .sl-markdown-content :is(h1, h2, h3, h4, h5, h6):not(.not-content *) {
    color: white;
    font-weight: 300
}

:root[data-theme=light] .sl-markdown-content :is(h1, h2, h3, h4, h5, h6):not(.not-content *) {
    color: #333333;
    font-weight: 550;
}

starlight-toc a[aria-current=true] {
    color: white !important;
    font-weight: bold;
}

.header {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    gap: 0.75rem !important;
    /* Espacio pequeño entre barras y título */
}

.site-logo {
    background-color: blue;
    order: 1 !important;
    margin-inline-start: 0 !important;
}

.site-title {
    color: #e13835;
    order: 2 !important;
}

.expressive-code .ec-line.highlighted {
    background-color: rgba(0, 0, 0, 0.1) !important;
    margin-inline: calc(-1 * var(--ec-h-pad, 1.5rem)) !important;
    padding-inline: var(--ec-h-pad, 1.5rem) !important
}

.right-group,
.secondary-wrap {
    order: 3 !important;
}

.sl-link-button.primary {
    color: white;
    border-radius: 0.7rem;
    background-color: #e13835;
    border-color: #e13835;
    font-weight: 1000;
}

html :where(.actions) .sl-link-button:nth-child(2) {
    background-color: white;
    color: #333;
    border-color: white;
}

code,
pre {
    border-radius: 0.3rem;
    color: #CCCCCC;
    font-family: 'Spline Sans Mono', monospace;
    font-variant-ligatures: none;
    font-size: 95%;
}

:root[data-theme=light] code,
pre {
    background-color: #f4f4f4;
    color: #333333;
    border-color: black;
}

:root[data-theme=dark] code,
pre {
    background-color: #111111;
    color: white;
}

.sl-markdown-content table {
    display: table;
    width: 100%;
}

.card-grid {
    display: column;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    gap: 1.5rem;
}

.card {
    color: #333;
    background-color: #f4f4f4;
    border-radius: 0.6rem;
    padding: 1.5rem;
}

:root[data-theme=dark] .card {
    background-color: black;
    color: white;
}

.card svg {
    width: 2rem;
    height: 2rem;
}

.starlight-aside {
    color: #333;
}

.sl-markdown-content {
    max-width: 100%;
}

.sl-markdown-content img, svg {
    max-width: 100%;
    height: auto;
}

.expressive-code {
    max-width: 100%;
}

.sl-markdown-content :not(pre) > svg, 
.sl-markdown-content .icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  fill: currentColor;
}


.hero {
  padding: 4rem 1rem !important;
  text-align: center;
  background-image: url("/img/splash.png");
  background-size: cover;
  background-position: 50%;
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-color: #f4f4f4 !important;
}

.hero .copy h1 {
  padding-bottom: 1rem;
}

.hero .copy img {
  width: 16rem !important;
  max-width: 100%;
  filter: drop-shadow(0px 2px 5px #000);
}

.hero .tagline {
  font-size: 2rem !important;
  padding-bottom: 2.5rem;
  text-shadow: 0px 2px 5px #000;
  color: white;
  font-weight: 900;
}

.actions > * {
  gap: 0.3rem;
  padding: 0.5rem 1.6rem !important;
  margin: 0.4rem !important;
}

.card-grid {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  gap: 0 !important;
  color: white !important;
}

.card-grid > .card {
  position: relative;
  flex: 1 1 18rem !important;
  text-align: center !important;
  padding: 2rem 2rem !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.card-grid > .card .title {
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  margin-bottom: 2rem;
  display: block;
}

@media (max-width: 56rem) {
  .card-grid {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }

  .card-grid > .card {
    flex-grow: 0 !important;
    flex-basis: auto !important;
  }
}

@media (min-width: 56rem) {
  .card-grid > .card:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 1rem;
    width: 1px;
    height: calc(100% - 2rem);
    background-color: #ccc;
  }
}

.sl-markdown-content .details-container {
  border-bottom: 1px solid #ccc;
}

.sl-markdown-content .details-custom {
  font-size: 1.2rem;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.sl-markdown-content .details-custom b {
  font-weight: 400;
}

.users-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.users-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

.users-title b {
  font-weight: 700;
}

.user-wall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-item {
  display: flex;
  margin: 1rem;
  max-width: 100%;
  flex: 0 0 15rem;
  align-items: center;
}

.user-item img {
  display: flex;
  max-width: 100%;
}

.users-cta {
  text-align: center;
}

.users-cta a {
  font-weight: 400;
  color: #e13835 !important;
}

.main-frame {
  display: flex;
  flex-direction: column;
}

.main-frame > main {
  flex: 1 0 auto;
  width: 100%;
}

.content-panel {
  max-width: 60rem !important;
  margin-inline: auto !important;
  padding-inline: 1rem !important;
}

[data-template="splash"] .content-panel {
  max-width: 100% !important;
  padding-inline: 0 !important;
}

.sl-container {
  max-width: 60rem !important;
  margin-inline: auto !important;
}